.user{
    display: inline-flex;
    border: 2px solid;
    border-radius: 13px;
}
.userDetails{
    padding: 10px;
}
.cta{
    display: flex;
}
.remove-user{
    background: #b81041;
}
.profile-pic img{
    border-radius: 77px;
}