<div class="about">
    <p>aboutus works!</p><br>

    <a routerLink="aboutus-child">aboutus-more</a><br>
    <div [formGroup]="user">
        <label>Name:</label>
        <input placeholder="userName" type="text" formControlName="name"><br>
        <ng-container>
            <p style="color: red;" *ngIf="form['name'].invalid && 
            (form['name'].touched || form['name'].dirty)">minimum 4 characters required</p>
        </ng-container><br>
        <!-- <input type="hidden" name="id" id="id" value=""><br> -->
        <label>Email:</label>
        <input placeholder="Email" type="email" formControlName="email"><br>
        <ng-container>
            <p style="color: red;" *ngIf="form['email'].invalid && (form['email'].touched || form['email'].dirty)">
                entered email is not valid</p>
        </ng-container><br>
        <label>password:</label>
        <input placeholder="Password" type="password" formControlName="pass"><br>
        <ng-container>
            <p style="color: red;" *ngIf="form['pass'].invalid && (form['pass'].touched || form['pass'].dirty)">
                entered password is not strong enough</p>
        </ng-container><br>
    </div>
    <input *ngIf="!isChecked" type="button" value="submit" (click)="submit()" [disabled]="user.invalid">
    <input *ngIf="isChecked" type="button" value="update" (click)="update()"><br>
















    <!-- <ng-container *ngFor="let data of list">
<tr><td> data.id</td><td>data.nane</td></tr> -->

    <!-- <p (click)="navigateToContactus()">navigate to contactus</p> -->
    <!-- <app-aboutus-child></app-aboutus-child> -->
    <!-- </ng-container> -->
    <a routerLink="user-list">userList</a><br>
    <router-outlet></router-outlet>
</div>