<div class="about">
    <p>aboutus works!</p><br>

    <a routerLink="aboutus-child">aboutus-more</a><br>

    <label>Name:</label>

    <input placeholder="useName" type="text" [(ngModel)]='name'><br><br>

    <!-- <input type="hidden" name="id" id="id" value=""><br> -->
    <label>Email:</label>
    <input placeholder="Email" type="email" [(ngModel)]='mail'><br><br>
    <input *ngIf="!isChecked" type="button" value="submit" (click)="submit()">
    <input *ngIf="isChecked" type="button" value="update" (click)="update()">
















    <!-- <ng-container *ngFor="let data of list">
<tr><td> data.id</td><td>data.nane</td></tr> -->

    <!-- <p (click)="navigateToContactus()">navigate to contactus</p> -->
    <!-- <app-aboutus-child></app-aboutus-child> -->
    <!-- </ng-container> -->
    <a routerLink="user-list">userList</a><br>
    <router-outlet></router-outlet>
</div>