.head{
    height:auto;
    display: flex;
    justify-content: center;
    background-color: blue;
}
.container{
    display: flex;
    height:auto;
    font-size: 30px;
    .mainarea{
        width:70%;
        background-color:antiquewhite;      
    }
    .sidebar{
        width:30%;       
        background-color: bisque;     
    }
}
.footers{
    height: auto;
    display: flex;
    justify-content: center;
    background-color: aqua;
    
}
.router{
    display: flex;
    height: 100%;

}
.router .col-6{
    border: 2px solid;
    // height: 100%;
    // width:30% ;
     background-color: bisque;
// background-image: url(/assets/01d4d71022b4872125932fe69322f31b.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
 }

.router ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-size: 20px;
}
.col-8{
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: aqua;
}