<div class="router">
<div class="col-4">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/aboutus">About-us</a></li>
    <li><a routerLink="/contactus">Contact-us</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
<div class="col-8">
  HOME PAGE
</div>
</div>





















<!-- <app-todo-list (todoEvent)="resdata($event)"></app-todo-list>



<ng-container *ngFor="let data of printData, index as i" > 
  <app-todo-parent [takeData]="data" [listIndex]="i" [takeArray]="printData"  ></app-todo-parent>
 
</ng-container> -->






























<!-- <div class="head">
<header></header>
</div>
<div class="container">
  <div class="mainarea">
<app-main-area></app-main-area>
   </div>
   <div class="sidebar">
<app-sidebar></app-sidebar>
     </div>
</div>
<div class="footers">
<app-footer></app-footer>
</div> -->

<!-- <app-child [user]="userDetails | json"></app-child> -->
<!-- <app-child [user]="></app-child> -->

<!-- <app-user-list></app-user-list> -->