/* You can add global styles to this file, and also import other style files */

html {
    margin: 0px;
    height: 100%;
    width: 100%;
   
  }
  body {
    //  background-image: url('https://pin.it/uX4yF6k');
    margin: 0px;
    min-height: 100%;
    width: 100%;
    background-color: blue;
  }